body {
  font-family: Arial, Helvetica, sans-serif;
}
.div_all {
  margin: auto;
  justify-content: center;
  width: 795px;
  border: 1px solid rgb(69, 128, 255);
  border-radius: 25px;
  background-color: rgb(210, 230, 251);
}
.div_in_hd {
  margin: auto;
  justify-content: center;
  border-radius: 15px;
  text-align: center;
  width: 700px;
  padding-top: 25px;
}
.hd {
  font-weight: bold;
  font-size: 30px;
  color: green;
}
.gray {
  color: gray;
  font-size: 13px;
}
.div_in_img {
  display: flex;
}
.img_duLich {
  width: 250px;
  height: 150px;
  border: 2px solid rgb(210, 230, 251);
  border-radius: 10px;
}
section {
  justify-content: center;
  margin: auto;
}
.div_thongTin {
  display: flex;
  padding-top: 10px;
}
.div_thongTin > div {
  width: 50%;
  padding-left: 15px;
}
.div_thongTin > div > p {
  margin: 5px;
  font-weight: bold;
}
input {
  width: 90%;
  height: 35px;
  border: 1px solid gray;
  border-radius: 10px;
}
textarea {
  border: 2px solid gray;
  border-radius: 15px;
  width: 750px;
  height: 140px;
}
.can_giua {
  text-align: center;
}
button {
  font-size: 17px;
  padding: 10px 15px;
  border-radius: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: rgb(70, 70, 255);
  margin: 15px 0px;
}
button:hover {
  background-color: green;
  font-size: 20px;
}
button:focus {
  background-color: rgb(177, 59, 0);
  font-size: 20px;
}
.thongBao {
  color: red;
  font-size: 10px;
  font-style: italic;
}
